.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-start-sb {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-start-end {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.flex-end-start {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-end-sb {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.absolute-0 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url(../font/AlegreyaSansSC-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  src: url(../font/NotoSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'PasseroOne';
  src: url(../font/PasseroOne-Regular.ttf) format('truetype');
}