.section {
  position: relative;
  .section-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 100px 0;
    background-size: cover;
    background-position: center;
    .title {
      height: 92px;
      width: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    .section-content {
      padding: 60px 0;
      .title {
        height: 36px;
        width: auto;
      }
    }
  }
  
}